<!--
  Generated template for the AccountChooser page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ 'CHOOSE_ACCOUNT' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar *ngIf="type == 'external'" (ionInput)="search($event)" placeholder="{{ 'SEARCH' | translate}}" ></ion-searchbar>
  <ion-list>
    <ion-item *ngIf="displayCard" (click)="scanCard()" >
      <ion-avatar item-left>
        <img src="{{ card | photoURL }}">
      </ion-avatar>
      <h2>{{ card.name }}</h2>
    </ion-item>
    <ion-item *ngFor="let item of items" (click)="select(item)" [class.disabled]="item.id == disableItemId" >
      <ion-avatar item-left>
        <img src="{{ item | photoURL }}">
      </ion-avatar>
      <h2>{{ item.name }}</h2>
      <ion-note item-right *ngIf="item.account" >{{ item.account.realTimeBalance | time }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
