<ion-content>
    <ion-content class="auth-home" *ngIf="!signInForm">
     <ion-grid>
      <ion-row>
        <ion-col col-12>
            <button ion-button outline color="danger" (click)="signIn()">{{ 'SIGNIN' | translate}}</button>
            <button ion-button outline color="danger" (click)="signUp()">{{ 'CREATE_ACCOUNT' | translate}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>

    </ion-content>
    <ion-content class="auth-home" *ngIf="signInForm">
      <ion-list inset>
        <ion-item>
          <ion-label stacked>{{ 'EMAIL' | translate}}</ion-label>
          <ion-input type="email" [(ngModel)]="credentials.email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>{{ 'PASSWORD' | translate}}</ion-label>
          <ion-input type="password" [(ngModel)]="credentials.password"></ion-input>
        </ion-item>
      </ion-list>
     
      <ion-item *ngIf="error">
        <p class="error">{{error}}</p>
      </ion-item>
      
      <div padding>
       <button icon-left ion-button block (click)="signInWithEmail()" *ngIf="signInForm">
            <ion-icon name="email"></ion-icon>
            {{ 'SIGNIN' | translate}}
        </button>
      </div>
    </ion-content>
</ion-content>