<ion-content *ngIf="!payment.key">
    <b class="error">{{error}}</b>
    <ion-list inset>
        <ion-item>
            <ion-label>{{ 'FROM_ACCOUNT' | translate}}</ion-label>
            <ion-select [(ngModel)]="payment.from">
              <ion-option value="{{auth.account.$key}}">{{auth.account.name}}</ion-option>
              <ion-option value="{{account.$key}}" *ngFor="let account of auth.accounts" >{{account.name}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>{{ 'TO_ACCOUNT' | translate}}</ion-label>
            <ion-input type="search" [(ngModel)]="payment.to"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>{{ 'AMOUNT' | translate}}</ion-label>
            <ion-input type="number" [(ngModel)]="payment.amount"></ion-input>
        </ion-item>

        <button icon-right ion-button block (click)="send()">
            {{ 'SEND' | translate}}
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
    </ion-list>
</ion-content>
<ion-content *ngIf="payment.key">
    {{ 'PAYMENT_SUCCEED' | translate}} {{payment.key}}
</ion-content>