<ion-header>
  <ion-navbar>
    <ion-title>{{ 'MY_ACCOUNTS' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-card>
  <ion-item>
    <ion-avatar item-left>
      <img src="{{user.identity.imageUrl}}">
    </ion-avatar>
    <h2>{{user.identity.firstName}} {{user.identity.lastName}}</h2>
    <p>{{user.identity.birthDate}}</p>
  </ion-item>
  <ion-card-content *ngIf="!user.account && !user.identity.documentUrl">
    {{ 'ACCOUNT_INACTIVE' | translate}}
  </ion-card-content>
  <ion-card-content *ngIf="!user.account && user.identity.documentUrl">
    {{ 'ACCOUNT_ACTIVATE' | translate}}
  </ion-card-content>
  <ion-card-content *ngIf="user.account">
    <h2>{{ 'BALANCE' | translate}} : {{ toTime(user.account.getRealTimeBalance()) }} KT</h2>
    <h2>{{ 'UPCOMING' | translate}} : {{ toTime(user.account.upcoming) }} KT</h2>
  </ion-card-content>

  <ion-row *ngIf="user.account">
    <ion-col>
      <button ion-button icon-left clear small (click)="openAccount(user.account)">
        <ion-icon name="list-box"></ion-icon>
        <div>{{ 'OPERATIONS' | translate }}</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="card"></ion-icon>
        <div>{{ 'PAYMENTS' | translate }}</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note *ngIf="user.account.balanceUpdated">
        {{ fromNow(user.account.balanceUpdated) }}
      </ion-note>
    </ion-col>
  </ion-row>
</ion-card>
<ion-card>
  <ion-card-header>{{ 'OTHER_ACCOUNTS' | translate}}</ion-card-header>
  <ion-card-content *ngIf="user.accounts.length == 0">
    {{ 'NO_OTHER_ACCOUNT' | translate }}
  </ion-card-content>
  <ion-list *ngIf="user.accounts.length > 0">
    <button ion-item small *ngFor="let account of user.accounts" (click)="openAccount(account)" >
      <ion-avatar item-left><img src="{{account.imageUrl}}"></ion-avatar>
      {{ account.name }}
      <ion-badge item-right>{{ toTime(account.getRealTimeBalance()) }} KT</ion-badge>
    </button>
  </ion-list>
  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small (click)="createAccount()">
        <ion-icon name="add"></ion-icon>
        <div>{{ 'CREATE_ACCOUNT' | translate}}</div>
      </button>
    </ion-col>
    <ion-col>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
</ion-card>
</ion-content>
