<!--
  Generated template for the AccountDetails page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ 'ACCOUNT_DETAILS' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group *ngFor="let group of groups | orderBy:'date':false" >
    <ion-item-divider color="light">{{ group.date | date:'fullDate' }}</ion-item-divider>
    <ion-item *ngFor="let payment of group.payments | orderBy:'created':false" >
      <ion-avatar item-left>
        <img src="{{ payment.account | photoURL }}">
      </ion-avatar>
      <h2>{{ payment.label }}</h2>
      <p>{{ payment.name }}</p>
      <div item-right class="right">
        <h2 class="{{ payment.amount >= 0 ? 'green' : 'red' }}">{{ payment.amount | time }}</h2>
        <ion-note class="small">{{ payment.executed | date:'shortTime' }}</ion-note>
      </div>
    </ion-item>
  </ion-item-group>
  
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
