<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accounts">
      <ion-icon name="list"></ion-icon>
      <ion-label> {{ 'ACCOUNTS' | translate }} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="network">
      <ion-icon name="globe"></ion-icon>
      <ion-label> {{ 'NETWORK' | translate }} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label> {{ 'SETTINGS' | translate }} </ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
