<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'MY_ACCOUNTS' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<ion-card *ngIf="auth.user">
  
  <ion-item>
    <ion-avatar item-left>
      <img src="{{ auth.user | photoURL }}">
    </ion-avatar>
    <h2>{{ auth.user.name }}</h2>
    <span item-right *ngIf="auth.user.account" class="{{ auth.user.account.realTimeBalance >= 0 ? 'green' : 'red' }}">{{ auth.user.account.realTimeBalance | time }}<br/><ion-note>{{ 'BALANCE' | translate }}</ion-note></span>
  </ion-item>
  
  <ion-card-content *ngIf="!auth.user.account && !auth.user.identity.documentUrl">
    {{ 'ACCOUNT_INACTIVE' | translate}}
  </ion-card-content>
  
  <ion-card-content *ngIf="!auth.user.account && auth.user.identity.documentUrl">
    {{ 'ACCOUNT_ACTIVATE' | translate}}
  </ion-card-content>
  
  <ion-list *ngIf="auth.user.account">
    <button ion-item (click)="flows(auth.user.account.id)">
      {{ 'MY_FLOW' | translate }}
      <span item-right class="{{ auth.user.account.ongoing.balance >= 0 ? 'green' : 'red' }}">{{ auth.user.account.ongoing.balance | time:'months' }}<br/><ion-note>/{{ 'MONTH' | translate }}</ion-note></span>
    </button>
    <button ion-item (click)="details(auth.user.account.id)">
      {{ 'MY_PAYMENTS' | translate }}
      <span item-right class="{{ totalBalance >= 0 ? 'green' : 'red' }}">{{ totalBalance | time }}<br/><ion-note>{{ totalName | translate }}</ion-note></span>
    </button>
  </ion-list>

  <ion-row *ngIf="auth.user.account">
    <ion-col>
      <button ion-button icon-left clear small (click)="payments(auth.user.account.id)">
        <ion-icon name="cash"></ion-icon>
        <div>{{ 'PAY' | translate }}</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small (click)="delegations(auth.user.account.id, auth.user.name, true)">
        <ion-icon name="contacts"></ion-icon>
        <div>{{ 'DELEGATIONS' | translate }}</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note *ngIf="auth.user.account.current">
        {{ fromNow(auth.user.account.current.updated) }}
      </ion-note>
    </ion-col>
  </ion-row>
  
</ion-card>
  
<ion-card *ngIf="auth.user">
  
  <ion-card-header>{{ 'OTHER_ACCOUNTS' | translate}}</ion-card-header>
  <ion-card-content *ngIf="auth.user.delegations.length == 0">
    {{ 'NO_OTHER_ACCOUNT' | translate }}
  </ion-card-content>
  
  <ion-list *ngIf="auth.user.delegations.length > 0">
    <button ion-item small *ngFor="let delegation of auth.user.delegations" (press)="details(delegation.$key)" (click)="action(delegation)" [disabled]="!delegation.read" >
      <ion-avatar item-left><img src="{{ delegation | photoURL }}"></ion-avatar>
      {{ delegation.name }}
      <span item-right *ngIf="delegation.account" class="{{ delegation.account.realTimeBalance >= 0 ? 'green' : 'red' }}">
        {{ delegation.account.realTimeBalance | time }}<br/>
        <ion-note>{{ delegation.account.ongoing.balance | time:'months' }}/{{ 'MONTH' | translate }}</ion-note>
      </span>
    </button>
  </ion-list>
  
  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small (click)="createAccount()">
        <ion-icon name="add"></ion-icon>
        <div>{{ 'CREATE_ACCOUNT' | translate}}</div>
      </button>
    </ion-col>
    <ion-col>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
  
</ion-card>
  
</ion-content>